/* Base styles for the page */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-box {
  background-image: linear-gradient(#005200, #05604F, #086453);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  border: 2px solid #FFDE59;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 25%;
  border: 2px solid #363333;
  border-radius: 20px;
  background-color: #363333;
  width: 242px;
}

.toggle-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #000;
  background-color: #FFF;
  border-radius: 20px;
  font-size: 1rem;
}

.toggle-buttons button.active {
  background-color: #28a745;
  color: #FFF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

form input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  width: 80%;
  font-size: 1em;
}

/* Ensure form button is not typable */
form button[type="submit"] {
  pointer-events: auto;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #FFDE59;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
